$white: #fff;
$WhiteSmoke: #F5F5F5;
$silver:#C0C0C0;
$black: black;
$gray: #a5a3a3;
$red: #fb2213;
$darkRed: #c00f02;
$navy: #000080;
$blue: #046ED7;
$royalblue: #4169E1;
$cornflowerblue: #6495ED;
$lightskyblue: #87CEFA;
$AliceBlue: #F0F8FF;
$yellow: #FFBB20; 
$darkGray: #242D3C;
$green: #01ba19;
$darkGreen: #038d15;