@import "_color.scss";
@import "_size.scss";
@import "_font.scss";

.home-view {
    position: relative;
    width: 100%;
    text-align: center;
    .wrapper {
        position: relative;
        width: 80%;
        text-align: center;
        margin: 110px auto 20px;
    }

    .new-title {
        font-size: 50px;
        font-family: $signika;
        margin: 15px;
    }

    .category-part {
        display: flex;
        justify-content: center;
        flex-direction: row;
        .title {
            font-size: 40px;
            font-weight: 500;
            margin: 30px;
        }
        h3 {
            position: absolute;
            margin-left: 40px;
            text-shadow: 0 0 3px #ff5df7;
        }
        .imgs-part {
            min-height: 60vh;
            img {
                border-radius: 5px;
                cursor: pointer;
            }
            .uper-part {
                display: flex;
                flex-direction: row;
                div > .religion {
                    margin-left: 10px;
                }
                //make the img bigger on hover
                @keyframes uper-part-animation {
                    from {
                        width: 530px;
                    }
                    30% {
                        width: 540px;
                    }
                    to {
                        width: 540px;
                    }
                }
                @keyframes on-leave-uper-part-animation {
                    from {
                        width: 540px;
                    }
                    30% {
                        width: 530px;
                    }
                    to {
                        width: 530px;
                    }
                }
                div > img:hover {
                    animation-name: uper-part-animation;
                    animation-duration: 2s;
                }
                div > img:not(:hover) {
                    animation-name: on-leave-uper-part-animation;
                    animation-duration: 2s;
                }
                //set shadow on img hover
                div > img:hover {
                    box-shadow: 0px 5px 20px rgba(0,0,0,0.4);
                    transition: box-shadow 0.3s ease-in-out;
                  }
                div > img:not(:hover) {
                    box-shadow: 0 0px 0px rgba(0,0,0,0.4);
                    transition: box-shadow 0.3s ease-in-out;
                }
            }
            .under-part {
                display: flex;
                flex-direction: row;
                margin: 5px 0;
                .children {
                    margin: 0 10px;
                }
                //make the img bigger on hover
                @keyframes under-part-animation {
                    from {
                        width: 350px;
                    }
                    30% {
                        width: 360px;
                    }
                    to {
                        width: 360px;
                    }
                }
                @keyframes on-leave-under-part-animation {
                    from {
                        width: 360px;
                    }
                    30% {
                        width: 350px;
                    }
                    to {
                        width: 350px;
                    }
                }
                div > img:hover {
                    animation-name: under-part-animation;
                    animation-duration: 2s;
                }
                div > img:not(:hover) {
                    animation-name: on-leave-under-part-animation;
                    animation-duration: 2s;
                }
                //set shadow on img hover
                div > img:hover {
                    box-shadow: 0 5px 20px rgba(0,0,0,0.4);
                    transition: box-shadow 0.3s ease-in-out;
                  }
                div > img:not(:hover) {
                    box-shadow: 0 0px 0px rgba(0,0,0,0.4);
                    transition: box-shadow 0.3s ease-in-out;
                }
            }
        }
        button {
            width: 300px;
            height: 50px;
            padding: 5px 10px;
            margin: 15px 0 25px;
            font-size: 25px;
            font-family: $signika;
            background: $white;
            color: $royalblue;
            border: solid 2px $royalblue;
            border-radius: 30px;
            cursor: pointer;
        }
        button:hover{
            background: $royalblue;
            color: $white;
        }
    }
}
